
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: 'Cinzel Decorative', cursive; 
}

.App {
  color: white;
  width: 100%;
  height: 100vh;
  background-image: url(../img/tlo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  min-height: 470px;
}

.App section {
  position: relative;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  min-width: 320px;
  max-width: 1900px;
}

/*navigation */
header {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  min-width: 160px;
  max-width: 792px;
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  align-content: space-around;
  justify-content: space-around;
  background-color: rgb(0, 0, 0, 0.8);
  transition: 0.4s linear;
 
}

nav ul {
  width: 100%;
  height: 60%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 40%;
  text-align: center;
  list-style-type: none;
  
}
nav ul li {
  width: 70%;
  text-align: center;
  cursor: pointer;
  
}

nav ul li a:hover { 
  background-color: transparent;
  border-bottom:  solid 2px white;
  border-top:  solid 2px white;
  box-shadow: 0px 0px 5px white inset;
  color:white;
  text-shadow: 0px 0px 1px white;
}

nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none; 
  text-shadow: 1px 1px 1px black;
  padding:5% 0;
  border-bottom: solid 2px white;
  border-top: solid 2px white;
  border-radius: 35%;  
}



/* button hamburger */

span.buttonHamburger {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 2%;
  right: 2%;
  cursor: pointer;
  transition: 0.2s linear;
  border: solid 2px white;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  line-height: 20px;
  z-index: 1;
  transition: 0.4s linear;
}
span.buttonHamburger i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 1.3em;
}
span.buttonHamburger:hover {
  box-shadow: 0 0 10px white inset;
}


/* Home container*/
.containerText {
  position: absolute;
  top: 5%;
  left:5%;
  width: 90%;
  box-shadow: -50px 0px 0px rgb(0,0,0, 0.15); 
  border-left: solid 1px #00FFB5;
  z-index: 1;

}
 .containerText p {
  padding-left: 3%;
  font-family: 'Cinzel Decorative', cursive; 
  font-size: .8em;
  padding-bottom: 3%;
}
.containerText h1{
  font-size: 1.5em;
  padding-bottom: 5%;
  padding-left: 3%;
  font-family: 'Shojumaru', cursive;
  font-style: italic;
  color: #00FFB5;
   font-weight: lighter;
  text-shadow: 2px 2px 2px black;
 
}


/*active button menu */

   li a.active {
   border-bottom:  solid 2px white;
    border-top:  solid 2px white;
    border-radius: 35%;
    box-shadow: 0px 0px 5px black inset;
    color: white;
   }

/*Foooter*/
   .footer {
     background-color: rgba(0,0,0,.5);
     font-size: .5em;
     position: fixed;
     bottom:0%;
     left:0%;
     width: 100%;
     z-index: 1;
   }
   .footer span {
     display: flex;
     flex-direction: row; 
     padding: .5%;
     justify-content: space-between;
     text-align: center;
   }
   .footer p {
     letter-spacing: .5px; 
   }
   .footer a{
     text-decoration: none;
     color: white;
   }
    


/*Media Queries */

@media (min-width: 600px) {
  .containerText p {
    font-size: .9em;
  }
  .containerText h1{
    font-size: 2.2em;
  }
}

@media (min-width: 900px) {
  .App section {
    height: 90%;
  }

  header {
    width: 50%;
    height: 10%;
    position:absolute;
    top: 2%;
    right: 2%;
    z-index: 2;
  }
  
  header nav {
    background-color: transparent;
    transition: .5s linear;
    transform: translateX(0%) !important; 
  }
  
  nav ul { 
    height: 100%;
    flex-direction: row;
    margin-top: 0%;   
  }
  nav ul li {
    width: 20%;
  }
  nav ul li a {
    border-top:none; 
  }

  span.buttonHamburger {
    display: none;
  }
  
  .containerText h1{
    padding-bottom: 3%;
    }
  .containerText p {
      font-size: 1em; 
    }
  .footer {    
      font-size: .8em;
    }
  .containerText{
      top:0%;
      left:4%;
    }

}


@media (min-width: 1400px) {

  .containerText h1{
    font-size: 2.5em;
    padding-bottom: 2%;
    }
    .containerText p {
      font-size: 1.2em; 
    }

}

@media (min-width: 1900px) {
  .containerText h1{
    font-size: 3.5em;
    padding-bottom: 2%;
    }
    .containerText p {
      font-size: 1.5em; 
    }
}
























 

 

