

.card{
    width: 60%;
    height: 45%;
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    text-align: center;
    min-height: 262px;
    background-color: transparent;
}

.card i {
    font-size: 1.5em;
    position: relative;
    top:-15%;
    right:0;
}

.cardContainer{
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 2s;
    transform-style: preserve-3d;
    background-color: transparent;   
}


.front, .back{
    position: absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    transform-style: preserve-3d;
    backface-visibility:hidden;
    color:white;
    border-radius: 15%;
    padding: 5%;
}

.front div, .back div{
    width:100%;
    height: 100%; 
}

.back{
    background-color: rgba(0,0,0,.6);
    transform: rotateY(180deg);
}

.front{ 
    background-color: rgba(0,0,0,.6);
}

.front ul, .back ul {
   margin: 0 auto;
   width: 70%;
   list-style-position: outside;
   list-style-type: circle;
   text-align: left;
   font-family: 'Cinzel Decorative', cursive; 
   text-transform: lowercase;
   font-size: 1em;
   font-weight: lighter;
   text-shadow: 1px 1px 1px black;
   background-color: transparent;
   


}
.back ul {
  font-size: .9em;


}

.front ul li, .back ul li {
  width: 100%;
  padding-top: 6%;
 

}



.front::before, .back::before {
    content: '';
    position: absolute;
    top: 3%;
    bottom: 3%;
    left: 3%;
    right: 3%;
    border-radius: 15%;
    transform: translateZ(20px); border: 1px solid #00FFB5;
    background-color: transparent;
 

   
  }





.front h2, .back h2 {  
    font-family: 'Shojumaru', cursive;
    color: #00FFB5;
    font-weight: lighter;
    text-shadow: 2px 2px 2px black;
    font-size: 1em;
    padding-top: 2%;
 
}

/*Arrow change text*/
.back i {
    position: absolute;
    top:87%;
    right:9%;
    font-size: 1em;
    transform: translateZ(30px);
}

.back i:hover{
    color:#00FFB5;
}



/*Media queries*/


@media (max-height: 500px){
  .front ul, .back ul {
    font-size: .6em;
  }
}

@media (max-height: 620px){
  .front ul, .back ul {
    font-size: .7em;
  }
}
@media(min-width:400px){
  .front ul, .back ul {
    font-size: .9em;
  }

  .front h2, .back h2 {  
    font-size: 1.1em; 
  }
}
@media( min-width: 600px){
  
  .front ul {
    font-size: 1em;
  }
  .front h2, .back h2 {  
    font-size: 1.1em; 
  }
}

@media (min-width:780px){

  .card{
    width:45%;
  }
}

@media (min-width:900px){

  .front ul {
    font-size: 1.1em;
  }
  .front h2{  
    font-size: 1.4em; 
  }
  .back h2 {
    font-size: 1.2em; 
  }

}

@media (min-width:1024px){
   .back ul {
    font-size: .8em;
  }
  .card{
    width:35%;
    height: 50%;
  }
}
@media (min-width:1300px){
  .back ul {
    font-size: .9em;
  }
  .card{
    width:30%;
  
  }

}

@media (min-width:1600px){

  .card{
    width:25%;
    
  }
}













