

.containerProjects {
    position: relative;
    top:30%;
    left:5%;    
    width: 90%;
    z-index: 5;
    min-height: 325px;
    max-height: 500px;
}


/*zrobic troche przezroczyste czy nie ???????*/

.singleProject{ 
  --zindex-number: 8.5em;
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    text-transform: lowercase;
    font-size: .7em;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #00FFB5;
    backface-visibility: visible;
    filter: grayscale(100%);
    color: gray;
    font-family: 'Cinzel Decorative', cursive; 
    transition: 0.3s linear; 
}



.singleProjectLink{
    width: 100%;
    height:10%;
    display: flex;
    flex-basis: row;
    justify-content: center;
    align-items: center;

}

.singleProjectLink a {
    display:inline-block;
    width: 40%;
    text-align: center;
    text-decoration: none;
    margin: auto auto;
    color: inherit;
   
}
.singleProjectLink a:hover{
    color: #00FFB5;
}



.singleProjectImg{
    width:100%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.singleProjectImg div {
    width: 100%;
    height:80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center center;

}

.singleProjectImg h2 {
    font-size: 1.5em;
    height: 15%;
    padding-top:1%;
    color: white; 
}

/* Adding a background to the project */

.one .singleProjectImg  div{
    background-image: url(../img/Project-Tic-tac-toe640x343.jpg);

}
.two .singleProjectImg  div{
    background-image: url(../img/Calorie-counter665x307.jpg);
}
.three .singleProjectImg  div{
    background-image: url(../img/Portfolio681x311.jpg);
}
.four .singleProjectImg  div{
    background-image: url(../img/Gallery3D593x304.jpg);
}
.five .singleProjectImg  div{
    background-image: url(../img/ladyIgy661x314.jpg);
}

.five .singleProjectLink a {
  text-decoration-line: line-through;
  text-decoration-color: white;
}
.five .singleProjectLink a:hover {
  color:white;

}

.singleProjectText{
    width: 100%;
    height: 40%;
    padding: 1%;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    font-size: 1em;
}
.singleProjectText p{
    padding: 2%;
}

.singleProjectText span {
    display: inline-block;
    padding: 1%;
    margin:2%;
    margin-top: 5%;
    border: 1px solid gray;
  
}

/*galeria 3d*/

.containerProjectsRotate{
    position: absolute;
    top:50%;
    right:50%;
    transform: translate(50%,-50%);
    width:9.9em;
    height: 85%; 
    perspective: 600px;
}

.projectsRotate{
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform .5s linear;
}


/* rotate page about deg */
  .one {
    transform: rotateY(0deg) translateZ(var(--zindex-number)) scale(0.4);  
  }
  .two {  
    transform: rotateY(72deg) translateZ(var(--zindex-number)) scale(0.4);
  }
  .three{
    transform: rotateY(144deg) translateZ(var(--zindex-number)) scale(0.4); 
  }
  .four {
    transform: rotateY(216deg) translateZ(var(--zindex-number)) scale(0.4); 
  }
  .five{
    transform: rotateY(288deg) translateZ(var(--zindex-number)) scale(0.4);  
  }



  /*Arrows right left*/
  .containerProjects i{
      font-size: 1.3em;
      cursor: pointer;
  }
  
  .containerProjects .fa-arrow-right {
      position: absolute;
      top:50%;
      left:6%;
      transform: rotate(180deg);
  }
  .containerProjects .fa-arrow-left {
      position: absolute;
      top:50%;
      right:6%;
      transform: rotate(180deg);
}





/*Media Queries*/

@media (min-width:450px){
  .singleProject{ 
    --zindex-number: 10em;
    font-size: .8em;
  }

  .containerProjects {
    top:25%;
    height: 65%;
}
  .containerProjectsRotate{
    width:12em;

}

}

@media (min-width:520px){
  .singleProject{ 
    font-size: .9em;
  }
  .containerProjectsRotate{
    width:14em;
  
  }

}

@media (min-width:650px){
    
  .containerProjects .fa-arrow-right {
    left:10%;
}
  .containerProjects .fa-arrow-left {
    right:10%;
}
  .containerProjects i{
    font-size: 1.8em;
}
}

@media (min-width:780px){
 
  .containerProjectsRotate{
    width:16em;  
}
  .containerProjects {
    width: 80%;
    left:10%;    
}
}


@media (min-width:900px){
  .containerProjects {
    height:70%;   
}
}

@media (min-width:1024px){
  .singleProject{ 
    font-size: 1em;
  }
  .containerProjectsRotate{
    width:18em;  
    height: 95%;
}
  .containerProjects {
    width: 70%;
    left:15%;
    height: 75%;    
}
}

@media (min-width:1300px){ 
  .containerProjects .fa-arrow-right {
    left:20%;
}
  .containerProjects .fa-arrow-left {
    right:20%;
}
  }

 @media (min-width:1600px){ 
  .singleProject{ 
    font-size: 1.2em;
  }
  .containerProjectsRotate{
    width:20em;  
    height: 95%;
}
  }
 @media (min-width:1900px){
  .singleProject{  
     font-size: 1.3em;
      }
  .containerProjectsRotate{
     width:22em;  
    }
        }