

.skillsContainer{
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 3%;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    align-content: center;
    z-index: 4;
    font-family: 'Cinzel Decorative', cursive; 
    text-transform: lowercase; 
  }

  .skillsContainer div {
    flex-basis: 30%;
    text-align: center;   
  }

  .skillsContainer i { 
    font-size: 4em;
  }

  .skillsContainer div span{
    display: block;
  }
  .skillsContainer div p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  
  }
  
  /*hover for all skills*/
  
.fa-html5:hover{
  color: rgba(227,76,38);
  }
.fa-css3-alt:hover{
  color: rgba(47,128,191)
  }
.fa-js:hover{
  color: rgba(247,223,30)
  }
.fa-react:hover{
  color: rgba(97,218,251)
  }
.fa-git-square:hover{
  color: rgba(0,0,0)
  }
.fa-database:hover{
  color: rgba(66,139,199);
}
.fa-node:hover{
  color: rgba(77,141,69);
}
.fa-php:hover{
  color: rgba(119,123,179);
}
.fa-java:hover{
  color: rgba(233,35,46);
}
.skillsContainer .fab, .fas {
    cursor: pointer;
  }
  
  

  /*second page skilss */

  .skillsSecondPart{
    position: absolute;
    bottom:8%;
    right:4%;
    background-color: transparent;
    border:none;
    font-size: 2em;
    z-index: 5;  
  }
  .skillsSecondPart i {
    color:white;
    text-shadow: 2px 2px 2px black;
  }
  .skillsSecondPart i:hover{
    color:#00FFB5;
  }


  /*Media Queries*/

  @media (min-width:500px){
    .skillsContainer{
      align-content: space-around;
    }
    .skillsContainer div{
      margin-bottom: 0% !important;
      padding-bottom: 5% !important;
    }
  }

  @media (min-width:800px){
    .skillsContainer{
      width:90%;
      right:5%;
      font-size: 1.2em;
      }
    .skillsContainer div{
      flex-basis: 20%;
    }
  }

  @media (min-width:1024px){
    .skillsContainer{
      width:80%;
      right:10%;
      }   
  }

  @media (min-width:1366px){
    .skillsContainer{
      width:70%;
      right:15%;
      font-size: 1.2em;
      }
  }

  @media (min-width:1900px){
    .skillsContainer{  
      font-size: 2em;
      }
  }
